body{
font-size: 12px;
}
.chat{
  width: 300px;
  height: 350px;
  position: fixed;
  overflow: scroll;
  bottom: 0;
  right: 0;
  padding: 5px; 
  border-style: solid;
  border-color: #adb5bd;
  
}

.App-header {
  background-color: #ffffff;  
}
.main{
  background-color: #dee2e663;  
  padding: 8px; 
}

.component{
  display: flex;
  flex-direction: column;  
}

.form-control{
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid #adb5bd ;
}

.form-select{
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid #adb5bd ;
}
.note{
  padding: 8px;
  margin: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #dee2e663;
}

.message{ 
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px; 
  font-size: 11px; 
  text-align: left;
  background-color: #ff1afb;
}

.btn-send{
  background-color: #dc2d73;
}